mat-form-field {
    width: 100%;
}
* {
    overflow: hidden;
}
.google-sign-up {
    background-color: #d34836;
    color: white;
    margin-top: 10%;
    margin-bottom: 10%;
    width: 100%;
};

h6 {
    position: relative;
    text-align:center;
}

h6 span {
    display:inline-block;
    padding:0 10px;
    background:#fff;
}
h6:before {
    content:"";
    display:block;
    position:absolute;
    z-index:-1;
    left:0;
    right:0;
    top:50%;
    height:1px;
    background:#ccc;
}
.error-message {
    color: red;
}