img {
  object-fit: cover;
}
.col-sm-6 {
  margin-top: 5%;
}
.right {
  float: right;
}
.subtext {
  font-size: 10px;
  color: gray;
}
.coupon {
  padding-top: 2%;
  padding-bottom: 2%;
  border-style: dashed;
  border-color: gray;
  width: 205px;
  margin-bottom: 1%;
}
form {
  margin-left: 3%;
}