<br><br>
<footer class="page-footer font-small mdb-color pt-4">
  <div class="container text-center text-md-left">

    <div class="row text-center text-md-left mt-3 pb-3">

      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold"> BookMyRoom </h5>
        <p>The best rooms at affordable prices</p>
      </div>
      <div class="col-md-2 col-lg-3 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">WE OFFER</h5>
        <p>
          Luxury Rooms
        </p>
        <p>
          Standard Rooms
        </p>
        <p>
          Budget Rooms
        </p>
      </div>
      <div class="col-md-3 col-lg-3 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Useful links</h5>
        <p>
          <a routerLink="#">Privacy Policy</a>
        </p>
        <p>
          <a routerLink="#">Guest Policy</a>
        </p>
        <p>
          <a routerLink="#">Terms and Conditions</a>
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Contact</h5>
        <p>
          <i class="fa fa-home mr-3" style="font-size:18px;"></i> BookMyRoom Bangalore</p>
        <p>
          <i class="fa fa-envelope mr-3"></i> bmr@bookmyroom.com</p>
        <p>
          <i class="fa fa-phone mr-3" style="font-size:18px;"></i> + 91 7654321987</p>
        <p>
          <i class="fa fa-print mr-3" style="font-size:18px;"></i> + 01 234 567 89</p>
      </div>
    </div>
    <hr>

    <div class="row d-flex align-items-center">

      <div class="col-md-7 col-lg-8">

        <p class="text-center text-md-left">© 2018 Copyright:
          <a routerLink="/"><strong> bookmyroom.com</strong></a>
        </p>
      </div>
      <div class="col-md-5 col-lg-4 ml-lg-0">

        <div class="text-center text-md-right">
          <p>Follow us on</p>
          <ul class="social-icons">
            <li><a routerLink="#" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
            <li><a routerLink="#" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
            <li><a routerLink="#" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
            <li><a routerLink="#" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
            <li><a routerLink="#" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</footer>
