<h3>Almost done.</h3>
<h4>Name: {{name}} <br/> Email: {{email}} <br />
</h4>
<hr>
<h4>Fill in the rest of your details so we can create an account for you.</h4>
<div class="container">
  <form [formGroup]="registrationForm">
    <div class="row">
      <mat-form-field>
        <input type="tel" minlength="10" maxlength="10" matInput placeholder="Mobile number" value="" autocomplete="tel" required
          formControlName="mobile">
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <mat-select placeholder="Gender" formControlName="gender">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <input type="number" matInput placeholder="Age" required formControlName="age">
        <mat-error *ngIf="registrationForm.controls.age.invalid">
          16-100 are valid ages.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field>
        <input type="text" matInput formControlName="city" [matAutocomplete]="auto" placeholder="City">
        <span class="error-message">
          {{ errorMessage }}
        </span>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>        
      </mat-form-field>
    </div>
    <button type="submit" [disabled]="!registrationForm.valid || errorMessage!==''" mat-raised-button color="primary" (click)="registerUser()">Register</button>
  </form>
</div>
