.hello
{
    color: whitesmoke;
    height: 500px;
    background-image: url('../assets/images/img_bg_5.jpg');
}
.mid{
    padding: 200px;
    padding-left: 500px;
}
app-footer{
    position: relative;
}
