div {
    width: 100%;
    height: 100vh;
    background-image: url('../../../assets/winter-warmer-3.jpg');
    //background-image: url('https://firebasestorage.googleapis.com/v0/b/bookmyroom-1535445796818.appspot.com/o/winter-warmer-3.jpg?alt=media&token=def31cb8-9c48-4311-9b42-075b329551f5');
}

app-search {
    margin-top: 10%;
   z-index: -1;
}
.spacer {
    height:20%;
}
h4, h2 {
    margin-left: 5%;
    color: #fff;
}