.example-icon {
    padding: 0 10px;
  }
  
.example-spacer {
    flex: 1 1 auto;
  }
mat-toolbar {
      position: sticky;
}
a {
      color: #fff;
}
.app-toolbar {
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}