.search-bar {
    background-color: #fff;
    opacity: 0.9;
}

button, mat-form-field {
    margin-left: 3%;
    margin-right: 3%;
}
button {
    margin-top: 4%;
}
.v {
    margin-left: 0%;
}
button {
   // margin-bottom: 5%;
}

.container {
    border-radius: 25px;
    text-align: center;
}
